@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --light-purple: #A12DB4;
  --dark-purple: #6424a5;
  --light-blue: #55c1ff;
  --middle-blue: #1613cd;
  --dark-blue: #1A1884;
  --white: #ffffff;
  --black: #333333;
  --darkgray: #A9A9A9;
  --middlegray: #C0C0C0;
  --lightgray: #DCDCDC;
  --boxshadow: rgba(0, 0, 0, 0.025);
  --gradient-p-b: linear-gradient(20deg, var(--light-purple) -15%, var(--dark-blue) 150%);
  --gradient-p-b-2: linear-gradient(200deg, var(--light-purple) -15%, var(--dark-blue) 150%);
  --gradient-b-b: linear-gradient(50deg, var(--dark-blue) 7.56%, #0000ff 61.06%);
}

pre {
  font-size: larger;
  font-weight: 500;
}

.warning {
  color: red;
  animation: blink-1 5s linear infinite both;
}
@keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  background-color: red !important;
}

/***** btn *****/
.l-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-p-b);
  border-radius: 10px;
  width: 100%;
  height: 46px;
  border: none;
  position: relative;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.l-btn:hover {
  transform: scale(1.02);
}
.l-btn[disabled] {
  transition: all 0.2s ease-in-out;
  background: var(--middlegray);
  color: var(--white);
  cursor: default;
}
.l-btn[disabled]:hover {
  transform: scale(1);
}

body.popup-open {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--white);
  color: var(--black);
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  -o-border-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  border-image-slice: 1;
}
header .logo a {
  text-decoration: none;
}
header .logo a .title {
  font-family: "Pacifico", cursive;
  color: var(--black);
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  line-height: 40px;
}
header .log {
  display: flex;
  align-items: center;
  position: relative;
}
header .log a {
  margin-right: 10px;
}
header .log #profil-picture {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
}
header .log #profil-menu {
  display: none;
  width: 205px;
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  padding: 35px 10px 10px;
  overflow: hidden;
  box-shadow: var(--boxshadow) 0 0 40px;
  top: 0px;
  right: 110%;
  z-index: 3;
  animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
header .log #profil-menu h4 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .log #profil-menu hr {
  margin: 5px 0;
  border: 1px lightgray solid;
}
header .log #profil-menu a {
  color: var(--black);
  text-decoration: none;
}
header .log #profil-menu li {
  list-style: none;
  padding: 2px 5px;
  transition: all 0.2s ease-in-out;
}
header .log #profil-menu li:hover {
  transform: scale(1.01);
  font-weight: 500;
  background-color: var(--lightgray);
  border-radius: 5px;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header .login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--dark-purple);
  width: 100px;
  height: 46px;
  font-size: larger;
  position: relative;
  transition: all 0.6s ease-in-out;
  background: var(--gradient-p-b);
  background-clip: text;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .login:hover {
  transform: scale(1.02);
}
header .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-p-b);
  border-radius: 10px;
  width: 120px;
  height: 46px;
  border: none;
  position: relative;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .signup:hover {
  transform: scale(1.02);
}

.wrapper {
  display: flex;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 120px);
  flex-direction: column;
  align-items: center;
}
.wrapper .return-home {
  border: 1px solid var(--middlegray);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--lightgray) 0 0 15px;
  position: absolute;
  left: 4%;
  top: 130px;
  transition: all 0.2s ease-in-out;
}
.wrapper .return-home:hover {
  transform: scale(1.05);
}

.wrapper-home {
  width: 100%;
  display: flex;
  height: -moz-max-content;
  height: max-content;
  gap: 20px;
  flex-direction: column;
}
.wrapper-home .search-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 20px;
  z-index: 2;
}
.wrapper-home .search-btn-container #searchButton {
  max-width: 550px;
  width: 100%;
  height: 46px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  border: var(--lightgray) 2px solid;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2117647059) 0 0 25px;
  background-color: var(--white);
  transition: all 0.2s ease-in-out;
}
.wrapper-home .search-btn-container #searchButton:hover {
  transform: scale(1.02);
}
.wrapper-home .search-btn-container #searchButton span {
  font-size: large;
  color: var(--darkgray);
}
.wrapper-home .search-btn-container #searchPopup {
  position: absolute;
  z-index: 1;
  top: 60px;
  max-width: 600px;
  width: 100%;
  background: var(--white);
  border: 2px solid var(--lightgray);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2117647059) 0 0 25px;
  animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  flex-direction: column;
  gap: 25px;
}
.wrapper-home .search-btn-container #searchPopup::before {
  content: "";
  background-color: var(--white);
  position: absolute;
  left: 50%;
  top: -10px;
  border-left: 2px solid var(--lightgray);
  border-top: 2px solid var(--lightgray);
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}
.wrapper-home .search-btn-container #searchPopup h3 {
  text-align: center;
  color: var(--darkgray);
  font-size: 2.5vh;
  font-family: "Inter";
}
.wrapper-home .search-btn-container #searchPopup input#priceRange {
  box-shadow: none !important;
}
.wrapper-home .search-btn-container #searchPopup .filters-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters {
  display: flex;
  gap: 20px;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter .labels {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter .tag {
  background: var(--darkgray);
  padding: 3px 3px 3px 9px;
  border-radius: 25px;
  color: var(--white);
  font-size: smaller;
  letter-spacing: 1px;
  display: flex;
  gap: 3px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -moz-max-content;
  width: max-content;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter .tag-close {
  font-family: cursive;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter label {
  font-size: larger;
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapper-home .search-btn-container #searchPopup .filters-container .filters .filter input {
  height: 36px;
  max-width: 300px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: var(--middlegray) solid 1px;
  box-shadow: var(--lightgray) 0 0 15px;
  padding: 10px;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.wrapper-home .map {
  height: 350px;
  animation: scale-up-hor-left 0.6s ease-in-out both;
}
.wrapper-home .map #map {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.wrapper-home .map #map .custom-price-label {
  background-color: var(--black);
  border-radius: 8px;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 10px;
  position: relative;
}
.wrapper-home .map #map .custom-price-label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--black);
}
.wrapper-home .map #map #infoWindowContent {
  padding: 12px;
  text-align: center;
  font-size: medium;
  max-width: 200px;
}
.wrapper-home .map #map .gm-ui-hover-effect > span {
  background-color: transparent;
}
.wrapper-home .map #map button.gm-ui-hover-effect {
  display: none !important;
  cursor: unset !important;
}
.wrapper-home .map #map .gm-style .gm-style-iw-d {
  height: -moz-max-content !important;
  height: max-content !important;
  max-height: -moz-max-content !important;
  max-height: max-content !important;
  overflow: unset !important;
}
.wrapper-home .map #map .gm-style .gm-style-iw-c {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  top: 0;
  left: 0;
  transform: translate3d(-50%, -100%, 0);
  background-color: var(--white);
  border-radius: 8px;
  padding: 0 !important;
  -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}
.wrapper-home .map #map .gm-style img {
  width: 200px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 10%;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 8%;
  min-height: calc(100vh - 120px);
}
.wrapper-form .log-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.wrapper-form .log-content-title {
  margin-bottom: 35%;
}
.wrapper-form .log-content-title h1 {
  font-size: 3em;
  font-family: "Pacifico", cursive;
  background: var(--gradient-b-b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
}
.wrapper-form .log-content-title h2 {
  font-size: 30px;
  font-weight: 500;
  background: linear-gradient(80deg, var(--light-purple) -5%, var(--dark-blue) 55.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper-form .log-content-form {
  display: flex;
  flex-direction: column;
}
.wrapper-form .log-content-form input {
  height: 36px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(112, 90, 255, 0.337254902);
  outline: none;
  font-size: large;
  padding: 10px;
  margin-bottom: 35px;
}
.wrapper-form .log-content-form input:focus {
  border-color: #705aff;
}
.wrapper-form .log-content-form label {
  display: block;
  font-size: larger;
  color: #1A1884;
}
.wrapper-form .log-content-form .sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-p-b);
  border-radius: 10px;
  width: 120px;
  height: 46px;
  border: none;
  position: relative;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.wrapper-form .log-content-form .sub-btn:hover {
  transform: scale(1.02);
}
.wrapper-form .background-under {
  position: fixed;
  min-width: 100%;
  height: 100vh;
  background-size: contain;
  top: 0;
  right: 0;
  z-index: -1;
}
.wrapper-form .background-upper {
  position: fixed;
  width: 100%;
  min-width: 1180px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper-detail {
  min-height: 100vh;
  max-width: 1150px;
  width: 100%;
  padding-top: 80px;
}
.wrapper-detail-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper-detail-title .advert-title {
  font-size: 2.5em;
  line-height: 32px;
  width: 450px;
}
.wrapper-detail-title .advert-title input {
  font-size: 40px;
  line-height: 32px;
  border-bottom: var(--darkgray) 1px solid;
}
.wrapper-detail-title .location {
  font-family: "Inter", sans-serif;
  color: var(--middlegray);
  font-weight: 400;
  font-size: 1.02em;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.wrapper-detail-title .location input {
  max-width: 200px;
  min-width: 150px;
  border-bottom: var(--darkgray) 1px solid;
  padding: 0 10px;
  font-size: medium;
  height: 36px;
  text-align: center;
}
.wrapper-detail-title .address-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0 55px 0;
}
.wrapper-detail-title .shadow-emp {
  background-color: var(--middlegray);
  max-width: 100px;
  width: 100%;
  min-width: 30px;
  height: 18px;
  border-radius: 5px;
}
.wrapper-detail .grid-wrap .single-img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
.wrapper-detail .grid-wrap .single-img img {
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-detail-grid-img {
  height: 100%;
  max-height: 500px;
  max-width: 1150px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-auto-rows: max-content;
  grid-template-columns: minmax(300px, 1fr) 450px;
  overflow: hidden;
  border-radius: 7px;
}
.wrapper-detail-grid-img figure {
  height: 100%;
}
.wrapper-detail-grid-img img {
  width: 100%;
  height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}
.wrapper-detail-grid-img .img {
  overflow: hidden;
}
.wrapper-detail-grid-img .l-img {
  height: 500px;
  position: relative;
}
.wrapper-detail-grid-img .sm-img {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}
.wrapper-detail-grid-img .ltl-img {
  height: 50%;
  position: relative;
}
.wrapper-detail #showMoreBtn {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6078431373);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--white);
  font-size: larger;
  cursor: pointer;
  border-radius: 7px;
}
.wrapper-detail #showMoreImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 2.5%;
  background: rgba(215, 215, 215, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 3;
}
.wrapper-detail #showMoreImg #closeBtn {
  color: var(--white);
  position: absolute;
  top: 25px;
  right: 25px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.wrapper-detail #showMoreImg #closeBtn svg {
  width: 100%;
  height: 100%;
}
.wrapper-detail #showMoreImg .imgs-container {
  display: grid;
  justify-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  grid-gap: 20px;
  grid-auto-rows: max-content;
  overflow: scroll;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 80px;
  padding-bottom: 20px;
}
.wrapper-detail #showMoreImg .imgs-container .img {
  width: 100%;
  min-width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.wrapper-detail #showMoreImg .imgs-container .img img {
  width: 100%;
  height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-detail-main {
  display: flex;
  padding-top: 55px;
  max-width: 100%;
  position: relative;
}
.wrapper-detail-main .wrapper-detail-left {
  max-width: 700px;
  min-width: 460px;
  width: 100%;
  margin: 0 60px 0 0;
  overflow: hidden;
}
.wrapper-detail-main .wrapper-detail-left h2 {
  font-size: 2em;
  padding: 20px 0 10px;
  z-index: 1;
}
.wrapper-detail-main .wrapper-detail-left-category {
  gap: 7px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper-detail-main .wrapper-detail-left-category::after {
  content: "";
  height: 100%;
  width: 20px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--white));
  position: absolute;
  right: 0;
}
.wrapper-detail-main .wrapper-detail-left-category::before {
  content: "";
  height: 100%;
  width: 20px;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), var(--white));
  position: absolute;
  left: 0;
  z-index: 1;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 {
  display: flex;
  gap: 7px;
  max-width: 640px;
  min-width: 460px;
  overflow: scroll;
  padding: 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: var(--light-purple);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--light-purple);
  border-color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid var(--lightgray);
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}
.wrapper-detail-main .wrapper-detail-left-category .checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}
.wrapper-detail-main .wrapper-detail-left-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 20px 0 0;
  border-bottom: 1px solid var(--middlegray);
  border-top: 1px solid var(--middlegray);
}
.wrapper-detail-main .wrapper-detail-left-owner .shadow-emp {
  background-color: var(--middlegray);
  max-width: 100px;
  width: 100%;
  min-width: 100px;
  height: 18px;
  border-radius: 5px;
}
.wrapper-detail-main .wrapper-detail-left-owner-info {
  display: flex;
  align-items: center;
  gap: 7px;
}
.wrapper-detail-main .wrapper-detail-left-owner-info p {
  color: var(--darkgray);
  font-size: 1.02rem;
}
.wrapper-detail-main .wrapper-detail-left-owner-info .profil-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.wrapper-detail-main .wrapper-detail-left-owner-info span {
  text-decoration: underline;
  font-weight: 600;
}
.wrapper-detail-main .wrapper-detail-left-owner-contact {
  width: 100px;
  height: 36px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--boxshadow) 0 0 10px;
}
.wrapper-detail-main .wrapper-detail-left-owner-contact:hover {
  transform: scale(1.02);
}
.wrapper-detail-main .wrapper-detail-left-description {
  width: 100%;
  border-bottom: 1px solid var(--middlegray);
}
.wrapper-detail-main .wrapper-detail-left-description p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 27px;
  color: var(--darkgray);
  padding: 20px 10px;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  max-width: 640px;
  min-width: 460px;
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
  transition: scroll-behavior 0.5s;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-tile-fit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  min-width: 7rem !important;
  padding: 10px;
  border-radius: 0.5rem;
  border: 2px solid var(--lightgray);
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-tile-fit:hover {
  border: var(--light-purple) 2px solid;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-tile-advert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  min-width: 80px;
  min-height: 80px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 2px solid var(--darkgray);
  color: var(--darkgray);
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-input:checked + .checkbox-tile-fit {
  border-color: var(--light-purple);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17 .checkbox-input:checked + .checkbox-tile-fit:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--light-purple);
  border-color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17::after {
  content: "";
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), var(--white));
  height: 32px;
  position: sticky;
  bottom: 0;
}
.wrapper-detail-main .wrapper-detail-left-commodite .checkbox-wrapper-17::before {
  content: "";
  width: 100%;
  background-image: linear-gradient(0deg, rgba(255, 0, 0, 0), #ffffff);
  height: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
}
.wrapper-detail-main .wrapper-detail-right {
  position: sticky !important;
  top: 25px !important;
  padding: 25px;
  border: 1px solid var(--lightgray);
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  min-width: 350px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxshadow) 0 0 20px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker .datepicker-switch:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker tfoot tr th:hover {
  background: transparent !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar td.today.day:hover {
  background-color: transparent !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker-switch {
  width: -moz-max-content !important;
  width: max-content !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.prev,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.next {
  border: none;
  color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.prev:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.next:hover {
  background-color: var(--lightgray);
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.prev:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icons/chevron-left-solid.svg") no-repeat center;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th.next:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icons/chevron-right-solid.svg") no-repeat center;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .range .day {
  background-color: var(--lightgray);
  cursor: not-allowed;
  border-radius: 4px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar table {
  font-family: "Inter", sans-serif;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar td {
  font-size: large;
  font-weight: 500;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker-inline {
  width: 100% !important;
  height: 100%;
  border: 1px solid var(--lightgray);
  box-shadow: var(--boxshadow) 0 0 10px;
  border-radius: 7px;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker-inline:hover {
  transform: scale(1.01);
  box-shadow: var(--boxshadow) 0 0 15px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker-days {
  width: 100%;
  height: 100%;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar table.table-condensed {
  width: 100%;
  height: 100%;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar td.active.day.range {
  border-radius: 4px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker td,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker th {
  text-align: center;
  width: 30px !important;
  max-height: 40px !important;
  min-height: auto;
  height: 40px;
  border-radius: 4px;
  border: none;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .disabled-date {
  cursor: not-allowed;
  text-decoration: line-through !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.today,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.today.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.today.disabled:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.today:hover {
  background-color: var(--white);
  border: var(--black) 2px dashed;
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdd49a", endColorstr="#fdf59a", GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
  border-radius: 7px;
  box-shadow: var(--boxshadow) 0 0 10px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.highlighted {
  background: transparent !important;
  border-radius: 4px;
  color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.highlighted:hover {
  border-radius: 4px;
  background-color: var(--lightgray) !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range.disabled:hover {
  background: var(--lightgray) !important;
  border-radius: 4px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active:hover {
  background-color: var(--black) !important;
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range.disabled:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.range:hover {
  background: var(--lightgray);
  border-radius: 4px !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled:hover,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active:hover {
  background-color: var(--black);
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled:active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled:hover.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active.disabled:hover:active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active:active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active:hover.active,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.active:hover:active {
  border-radius: 4px !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.disabled,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.disabled:hover {
  background: transparent !important;
  color: var(--middlegray) !important;
  opacity: 50%;
  cursor: default;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.new,
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #calendar .datepicker table tr td.old {
  opacity: 50% !important;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates .popup-container {
  background: var(--gradient-p-b);
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates .popup-card {
  margin: 2px;
  padding: 20px;
  text-align: center;
  background: var(--white);
  border-radius: 6px;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--light-purple);
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates p {
  font-size: 18px;
  margin-bottom: 1.2rem;
  color: var(--darkgray);
  font-weight: 400;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates #close-popup {
  background: var(--gradient-p-b);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-right #calendar-and-detail #alert-dates #close-popup:hover {
  transition: all 0.3s ease-in-out;
  animation: gradientRotation 3s linear infinite alternate both;
}
@keyframes gradientRotation {
  0%, 100% {
    background: var(--light-purple);
  }
  50% {
    background: var(--dark-blue);
  }
}
.wrapper-detail-main .wrapper-detail-right .night-price {
  border-bottom: 1px solid var(--middlegray);
  padding-bottom: 10px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: baseline;
}
.wrapper-detail-main .wrapper-detail-right .night-price b {
  font-size: xx-large;
}
.wrapper-detail-main .wrapper-detail-right .night-price input {
  font-size: xx-large;
  width: 100px;
  font-weight: 600;
}
.wrapper-detail-main .wrapper-detail-right .night-price .span {
  color: var(--darkgray);
}
.wrapper-detail-main .wrapper-detail-right .night-price .span span {
  font-size: xx-large;
  font-weight: 600;
}
.wrapper-detail-main .wrapper-detail-right .dates {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapper-detail-main .wrapper-detail-right .dates .shadow-emp {
  background-color: var(--middlegray);
  width: 100%;
  min-width: 30px;
  height: 30px;
  border-radius: 5px;
}
.wrapper-detail-main .wrapper-detail-right .dates .date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}
.wrapper-detail-main .wrapper-detail-right .dates .date p {
  font-size: larger;
  font-weight: 500;
  color: var(--darkgray);
}
.wrapper-detail-main .wrapper-detail-right .dates .date .date-span {
  width: 100%;
  border: 1px solid var(--middlegray);
  padding: 5px 10px;
  border-radius: 7px;
  color: var(--middlegray);
  height: 37px;
  transition: all 0.2s ease-in-out;
  font-size: large;
  position: relative;
}
.wrapper-detail-main .wrapper-detail-right .dates .date .date-span::after {
  content: url(../img/icons/Calendar.png);
  height: 20px;
}
.wrapper-detail-main .wrapper-detail-right .shadow-emp-cal {
  background-color: var(--middlegray);
  margin-top: 20px;
  width: 100%;
  min-width: 30px;
  height: 300px;
  border-radius: 5px;
}
.wrapper-detail-main .wrapper-detail-right .price-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-detail-main .wrapper-detail-right .price-details .shadow-emp {
  background-color: var(--middlegray);
  max-width: 30px;
  margin-top: 20px;
  width: 100%;
  min-width: 50px;
  height: 18px;
  border-radius: 5px;
}
.wrapper-detail-main .wrapper-detail-right .price-details .shadow-emp-p {
  background-color: var(--middlegray);
  max-width: 150px;
  margin-top: 20px;
  width: 100%;
  min-width: 30px;
  height: 18px;
  border-radius: 5px;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price:nth-child(2) {
  border-bottom: var(--middlegray) 1px solid;
  padding: 0 0 10px 0;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price:nth-child(3) {
  margin-bottom: 15px;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price:nth-child(3) p {
  font-size: x-large;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price:nth-child(3) .total-span {
  font-size: x-large;
  font-weight: 600;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price p {
  font-size: large;
  color: var(--dark-purple);
  font-weight: 500;
}
.wrapper-detail-main .wrapper-detail-right .price-details .price .total-span {
  font-size: large;
  font-weight: 600;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .direction-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .direction-btn span {
  display: flex;
  align-items: center;
  text-align: center;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .direction-btn span img {
  height: 36px;
  width: 36px;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .res-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 25px 0;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .res-infos .res-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .res-infos .res-info input {
  height: 36px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(112, 90, 255, 0.337254902);
  outline: none;
  font-size: large;
  padding: 10px;
  margin-bottom: 35px;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .res-infos .res-info input:focus {
  border-color: #705aff;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container .res-infos .res-info label {
  display: block;
  font-size: larger;
  color: #1A1884;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container #step-4 .l-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-p-b);
  border-radius: 10px;
  width: 100%;
  height: 46px;
  border: none;
  position: relative;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.wrapper-detail-main .wrapper-detail-right #reservation-form-container #step-4 .l-btn:hover {
  transform: scale(1.02);
}

.wrapper-detail .input {
  height: 45px;
  font-size: x-large;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: var(--white);
  outline: none;
  border: none;
  border-bottom: solid 1px var(--darkgray);
  width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
}
.wrapper-detail .textarea-description {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 20px;
  margin-bottom: 15px;
}
.wrapper-detail .sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-p-b);
  border-radius: 10px;
  width: 120px;
  height: 46px;
  border: none;
  position: relative;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.wrapper-detail .sub-btn:hover {
  transform: scale(1.02);
}
.wrapper-detail input#advert_images {
  display: none;
}
.wrapper-detail .image-upload-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--lightgray);
  padding: 20px;
  text-align: center;
  color: var(--darkgray);
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.wrapper-detail .image-upload-card img {
  height: 150%;
  position: absolute;
  right: 0;
  top: -80px;
  opacity: 40%;
  z-index: -1;
}
.wrapper-detail .image-upload-card .custom-file-upload {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  font-size: 2em;
  display: flex;
  font-weight: 400;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  align-items: baseline;
  padding-left: 15%;
  justify-content: center;
  flex-direction: column;
}
.wrapper-detail .image-upload-card .image-input-label-span {
  text-decoration: underline;
  font-style: italic;
  font-weight: 600;
  color: var(--middle-blue);
}
.wrapper-detail .image-upload-card .drag-over {
  border-color: #007bff;
  cursor: pointer;
}
.wrapper-detail .file-list {
  display: flex;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.wrapper-detail .scroll-files {
  overflow: scroll;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
}
.wrapper-detail .file-preview {
  width: 200px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-detail .file-list-item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 155px;
  border-radius: 5px;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.wrapper-detail .file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper-detail .remove-file-button {
  position: absolute;
  background: red;
  padding: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  color: var(--white);
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  font-family: inherit;
  cursor: pointer;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.adverts-container .advert-card-list {
  height: -moz-max-content;
  height: max-content;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.adverts-container .advert-card-list .clickable-card-parent {
  position: relative;
  max-width: 350px;
}
.adverts-container .advert-card-list .clickable-card {
  text-decoration: none;
  color: var(--black);
}
.adverts-container .advert-card-list .advert-card {
  overflow: hidden;
  background: var(--white);
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 350px;
}
.adverts-container .advert-card-list .advert-card:hover {
  box-shadow: var(--boxshadow) 0 10px 20px;
}
.adverts-container .advert-card-list .advert-card figure {
  height: 70%;
  overflow: hidden;
}
.adverts-container .advert-card-list .advert-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.adverts-container .advert-card-list .slide-in {
  opacity: 0;
  transform: translateY(25px);
  filter: blur(4px);
  transition: all 0.4s ease-in-out;
}
.adverts-container .advert-card-list .slide-in-active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.adverts-container .advert-card-list .card-content {
  padding: 15px 20px 20px;
  width: 100%;
}
.adverts-container .advert-card-list .advert-card h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.adverts-container .advert-card-list .card-text {
  color: var(--darkgray);
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.adverts-container .advert-card-list .price-card {
  font-weight: 700;
  font-size: larger;
  color: var(--black);
}
.adverts-container .advert-card-list .modif-icons {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 5px;
  background: var(--white);
  z-index: 3;
  line-height: 0;
}
.adverts-container .advert-card-list .modif {
  color: var(--black);
  display: flex;
  align-items: center;
}
.adverts-container .pagination {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  justify-content: center;
}
.adverts-container .pagination .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  width: 36px;
  height: 36px;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}
.adverts-container .pagination .pages:hover {
  background-color: var(--middlegray);
  color: var(--white);
}
.adverts-container .pagination .active {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 7px;
  padding: 5px;
  width: 36px;
  height: 36px;
  background-color: var(--black);
  color: var(--white);
}

.wrapper-my-advert {
  width: 100%;
  height: 100%;
}
.wrapper-my-advert-title {
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -4px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 770px) {
  .wrapper-detail .img-advert-detail {
    grid-template-columns: 1fr;
    grid-template-areas: "l-img" "sm-img";
    grid-gap: 0;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .wrapper-detail .img-advert-detail .l-img {
    height: auto;
  }
  .wrapper-detail .img-advert-detail .sm-img {
    grid-area: sm-img;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .wrapper-detail .img-advert-detail .sm-img img {
    max-width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  body {
    padding: 25px;
  }
  header {
    padding: 0;
    height: -moz-max-content;
    height: max-content;
  }
  header .logo a .fig-logo .icon-logo {
    width: 50px;
    height: 50px;
  }
  header .title {
    display: none;
  }
  header .log {
    position: relative;
    top: -10px;
  }
  header .log #profil-picture {
    width: 50px;
    height: 50px;
  }
  .wrapper {
    padding: 25px 0;
  }
  .wrapper .return-home {
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  #grid {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */