@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');


//************** Var **************//

:root {
    --light-purple: #A12DB4;
    --dark-purple: #6424a5;
    --light-blue: #55c1ff;
    --middle-blue: #1613cd;
    --dark-blue: #1A1884;
    --white: #ffffff;
    --black: #333333;
    --darkgray: #4D4D4D;
    --middlegray: #aaaaaa;
    --lightgray: #eeeeee;
    --boxshadow: rgba(0, 0, 0, 0.025);
    --gradient-p-b: linear-gradient(20deg, var(--light-purple) -15%, var(--dark-blue) 150%);
    --gradient-b-b: linear-gradient(50deg, var(--dark-blue) 7.56%, #0000ff 61.06%);
}


//************** Warning & infos **************//

pre {
    font-size: larger;
    font-weight: 500;
}

.warning {
    color: red;
    -webkit-animation: blink-1 5s linear infinite both;
    animation: blink-1 5s linear infinite both;
}

@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

//************** All **************//

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill {
    background-color: red !important;
}


//************** Body **************//

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
}


//************** Header **************//

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;

    .logo {
        a {
            text-decoration: none;

            .title {
                font-family: 'Pacifico', cursive;
                color: var(--black);
                text-align: center;
                font-size: 40px;
                font-weight: lighter;
                line-height: 40px;
            }
        }
    }

    .log {
        display: flex;
        align-items: center;
        position: relative;

        a {
            margin-right: 10px;
        }

        #profil-picture {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            cursor: pointer;
        }

        #profil-menu {
            display: none;
            width: 205px;
            position: absolute;
            background-color: var(--white);
            border-radius: 10px;
            padding: 35px 10px 10px;
            overflow: hidden;
            box-shadow: var(--boxshadow) 0 0 40px;
            top: 0px;
            right: 110%;
            z-index: 2;
            -webkit-animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

            h4 {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--dark-blue);
                color: var(--white);
                text-align: center;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            hr {
                margin: 5px 0;
                border: 1px lightgray solid;
            }

            a {
                color: var(--black);
                text-decoration: none;
            }

            li {
                list-style: none;
                padding: 2px 5px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.01);
                    font-weight: 500;
                    background-color: var(--lightgray);
                    border-radius: 5px;
                }
            }
        }
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--dark-purple);
        width: 100px;
        height: 46px;
        font-size: larger;
        position: relative;
        transition: all .6s ease-in-out;
        background: var(--gradient-p-b);
        background-clip: text;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }

    .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--gradient-p-b);
        border-radius: 10px;
        width: 120px;
        height: 46px;
        border: none;
        position: relative;
        color: white;
        font-size: large;
        text-decoration: none;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


//************** Wrapper **************//

.wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 120px);
    flex-direction: column;
    align-items: center;
}


//******** Home ********//

.wrapper-home {
    width: 100%;
    display: flex;
    height: max-content;
    gap: 20px;

    .map {
        width: 50%;
        position: sticky;
        top: 20px;
        height: calc(100vh - 40px);

        .leaflet-control-attribution.leaflet-control {
            display: none;
        }

        #map {
            border-radius: 10px;
            width: 100%;
            min-width: 500px;
            height: 100%;

            img {
                display: none;
            }
        }
    }
}


//******** Form ********//

.wrapper-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 8%;
    min-height: calc(100vh - 120px);

    .log-content {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        &-title {
            margin-bottom: 35%;

            h1 {
                font-size: 3em;
                font-family: 'Pacifico', cursive;
                background: var(--gradient-b-b);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
            }

            h2 {
                font-size: 30px;
                font-weight: 500;
                background: linear-gradient(80deg, var(--light-purple) -5%, var(--dark-blue) 55.21%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;

            input {
                height: 36px;
                border-width: 0px 0px 1px 0px;
                border-style: solid;
                border-color: #705aff56;
                outline: none;
                font-size: large;
                padding: 10px;
                margin-bottom: 35px;

                &:focus {
                    border-color: #705aff;
                }
            }

            label {
                display: block;
                font-size: larger;
                color: #1A1884;
            }

            .sub-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--gradient-p-b);
                border-radius: 10px;
                width: 120px;
                height: 46px;
                border: none;
                position: relative;
                color: white;
                font-size: large;
                text-decoration: none;
                cursor: pointer;
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }

    .background-under {
        position: fixed;
        min-width: 100%;
        height: 100vh;
        background-size: contain;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .background-upper {
        position: fixed;
        width: 100%;
        min-width: 1180px;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


//******* Détail ********//

.wrapper-detail {
    min-height: 100vh;
    max-width: 1150px;
    width: 100%;

    .grid-wrap {
        .single-img {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-radius: 12px;

            img {
                width: 100%;
                height: -webkit-fill-available;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }

    .img-advert-detail {
        height: 100%;
        max-height: 600px;
        max-width: 1150px;
        width: 100%;
        display: grid;
        gap: 5px;
        grid-auto-rows: max-content;
        grid-template-columns: minmax(300px, 1fr) 300px;
        overflow: hidden;
        border-radius: 12px;

        figure {
            height: 100%;
        }

        img {
            width: 100%;
            height: -webkit-fill-available;
            object-fit: cover;
        }

        .img {
            overflow: hidden;
        }

        .l-img {
            height: 600px;
            position: relative;
        }

        .sm-img {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 5px;
            height: 100%;
        }

        .ltl-img {
            height: 50%;
            position: relative;
        }
    }

    #showMoreBtn {
        border: none;
        position: absolute;
        top: 67%;
        left: 0;
        right: 0;
        height: 33%;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        color: var(--white);
        font-size: larger;
        cursor: pointer;
    }

}

//****** Calendar ******//

.calendar-wrapper {
    width: 450px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.10);

    .calendar-header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;

        .icons {
            display: flex;

            span {
                height: 38px;
                width: 38px;
                margin: 0 1px;
                cursor: pointer;
                color: var(--darkgray);
                text-align: center;
                line-height: 38px;
                font-size: 1.9rem;
                user-select: none;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span:last-child {
                margin-right: -10px;
            }

            span:hover {
                background: var(--lightgray);
            }

            .current-date {
                font-size: 1.45rem;
                font-weight: 500;
            }
        }
    }

    .calendar {
        padding: 20px;

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            text-align: center;
        }

        .days {
            margin-bottom: 20px;

            li {
                z-index: 1;
                cursor: pointer;
                position: relative;
                margin-top: 30px;
            }

            li.inactive {
                color: var(--middlegray);
            }

            li.active {
                color: var(--white);
            }

            li::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                height: 40px;
                width: 40px;
                z-index: -1;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }

            li.active::before {
                background: var(--light-purple);
            }

            li:not(.active):hover::before {
                background: var(--lightgray);
            }
        }

        li {
            color: var(--black);
            width: calc(100% / 7);
            font-size: 1.07rem;
        }

        .weeks {
            li {
                font-weight: 500;
                cursor: default;
            }
        }
    }

}

//****** Form Content For Add Advert ******//

.wrapper-detail {
    .input {
        height: 45px;
        font-size: x-large;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        background: var(--white);
        outline: none;
        border: none;
        border-bottom: solid 1px black;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 15px;
    }

    .textarea-description {
        width: 100%;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 20px;
        margin-bottom: 15px;
    }

    .sub-btn {
        width: 100px;
        height: 42px;
        border-radius: 10px;
        border: none;
        font-size: medium;
        font-weight: 500;
        font-family: poppins, sans-serif;
        color: var(--dark-purple);
        margin-top: 20px;
    }

    #registration_form_agreeTerms {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }

    .dbl-input {
        display: flex;
        gap: 10px;
    }

    input#advert_images {
        display: none;
    }

    .image-upload-card {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--lightgray);
        padding: 20px;
        text-align: center;
        color: var(--darkgray);
        height: 400px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
            height: 150%;
            position: absolute;
            right: 0;
            top: -80px;
            opacity: 40%;
            z-index: -1;
        }

        .custom-file-upload {
            font-family: "Roboto", sans-serif;
            letter-spacing: 0px;
            font-size: 2em;
            display: flex;
            font-weight: 400;
            cursor: pointer;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            align-items: baseline;
            padding-left: 15%;
            justify-content: center;
            flex-direction: column;
        }

        .image-input-label-span {
            text-decoration: underline;
            font-style: italic;
            font-weight: 600;
            color: var(--middle-blue);
        }

        .drag-over {
            border-color: #007bff;
            cursor: pointer;
        }
    }

    .file-list {
        display: flex;
        gap: 10px;
        width: max-content;
    }

    .scroll-files {
        overflow: scroll;
        height: max-content;
        padding: 5px;
    }

    .file-preview {
        width: 200px;
        height: 125px;
        object-fit: cover;
    }

    .file-list-item {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        height: 155px;
        border-radius: 5px;
        justify-content: space-between;
        overflow: hidden;
        margin: 10px 0;
        position: relative;
        -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }

    .file-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .remove-file-button {
        position: absolute;
        background: red;
        padding: 5px;
        height: 20px;
        width: 20px;
        display: flex;
        color: var(--white);
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        top: 5px;
        right: 5px;
        font-family: inherit;
        cursor: pointer;
    }

    @-webkit-keyframes swing-in-top-fwd {
        0% {
            -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
            -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 1;
        }
    }

    @keyframes swing-in-top-fwd {
        0% {
            -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
            -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 1;
        }
    }

    .info-add-property {
        display: flex;
    }

    .input-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 25px 0;

        input {
            text-align: center;
        }
    }
}


//****** My Advert******//

.wrapper-my-advert {
    width: 100%;
    height: 100%;

    &-title {
        font-size: 3em;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -4px;
        padding-bottom: 20px;
    }
}


//************** Content **************//

#grid {
    height: 100%;
    width: 50%;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.clickable-card-parent {
    position: relative;
    max-width: 350px;
}

.clickable-card {
    text-decoration: none;
    color: var(--black);
}

.advert-card {
    overflow: hidden;
    background: var(--white);
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 350px;

    &:hover {
        box-shadow: var(--boxshadow) 0 10px 20px;
    }

    figure {
        height: 70%;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.slide-in-card {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(4px);
    transition: all .4s ease-in-out;
}

.slide-in-active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.card-content {
    padding: 15px 20px 20px;
    width: 100%;
}

.advert-card h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    color: var(--darkgray);
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.price-card {
    font-weight: 700;
    font-size: larger;
    color: var(--black);
}

.modif-icons {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: var(--white);
    z-index: 3;
    line-height: 0;
}

.modif {
    color: var(--black);
    display: flex;
    align-items: center;
}


//************** Footer *************//

// footer {

// }

//? ************* Responsive Design *************//

@media only screen and (max-width: 770px) {


    //************ Wrapper *************//

    .wrapper-detail {
        .img-advert-detail {
            grid-template-columns: 1fr;
            grid-template-areas:
                "l-img"
                "sm-img";
            grid-gap: 0;
            max-height: max-content;

            .l-img {
                height: auto;
            }

            .sm-img {
                grid-area: sm-img;
                display: flex;
                flex-direction: row;
                gap: 5px;

                img {
                    max-width: 50%;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {


    //************** Body **************//

    body {
        padding: 25px;
    }


    //************** Header **************//

    header {
        padding: 0;
        height: max-content;

        .logo {
            a {
                .fig-logo {
                    .icon-logo {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }

        .title {
            display: none;
        }

        .log {
            #profil-picture {
                width: 55px;
                height: 55px;
            }
        }
    }


    //************** wrapper **************//

    .wrapper {
        padding: 25px 0;
    }
}

@media only screen and (max-width: 1100px) {
    .map {
        display: none;
    }

    #grid {
        width: 100%;
    }
}