
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/************** Var **************/
:root {
    --light-purple: #A682FF;
    --dark-purple: #715AFF;
    --light-blue: #55C1FF;
    --middle-blue: #5887FF;
    --dark-blue: #102E4A;
    --white: ghostwhite;
    --black: #100F0F;
    --lightgray: lightgray;
    --darkgray: grey;
    --boxshadow: rgba(0, 0, 0, 0.025);
}


/************** Warning & infos **************/
pre {
    font-size: larger;
    font-weight: 500;
}

.warning {
    color: red;
    -webkit-animation: blink-1 5s linear infinite both;
	        animation: blink-1 5s linear infinite both;
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  
/************** All **************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

*::-webkit-scrollbar {
    display: none;
}

/************** Body **************/
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
}

/************** Background **************/
// .background {
//     height: 100vh;
//     width: 100%;
//     top: 0;
//     position: absolute;
//     z-index: -1;
    // img {
    //     width: max-content;
    //     height: 100%;
    // }
    // .blur {
    //     backdrop-filter: blur(70px);
    //     height: 100vh;
    //     width: 100%;
    //     top: 0;
    //     position: fixed;
    // }
// }
 
/************** Header **************/
header {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 140px;
        a {
            color: var(--white);
            text-decoration: none;
            display: flex;
            align-items: baseline;
            .title {
                font-family: 'Anton', sans-serif;
                color: var(--black);
                text-align: center;
                line-height: 25px;
                letter-spacing: 1px;
                font-size: xx-large;
                padding-left: 10px;
            }
            .fig-logo {
                display: flex;
                align-items: center;
                flex-direction: column;
                .icon-logo {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
    .log {
        display: flex;
        align-items: center;
        position: relative;
        a{
            height: max-content;
            margin-right: 10px;
        }
        #profil-picture {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            cursor: pointer;
        }
        #profil-menu {
            display: none;
            width: 205px;
            position: absolute;
            background-color: var(--white);
            border-radius: 10px;
            padding: 35px 10px 10px;
            overflow: hidden;
            box-shadow: var(--boxshadow) 0 0 40px;
            top: 0px;
            right: 110%;
            z-index: 2;
            transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
            h4 {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--dark-blue);
                color: var(--white);
                text-align: center;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            hr {
                margin: 5px 0;
                border: 1px lightgray solid;
            }
            a{
                color: var(--black);
                text-decoration: none;
            }
            li {
                list-style: none;
                padding: 2px 5px;
                transition: all .2s ease-in-out;
                &:hover{
                    transform: scale(1.01);
                    font-weight: 500;
                    background-color: var(--lightgray);
                    border-radius: 5px;
                }
            }
        }
    }
    .log-btn{
        width: 100px;
        height: 46px;
        border-radius: 10px;
        border: none;
        font-size: medium;
        font-weight: 500;
        font-family: poppins, sans-serif;
        color: var(--dark-purple);
        cursor: pointer;
        &:hover {
            transform: scale(1.02);
        }
    }
    .up{
        background-color: var(--dark-purple);
        color: var(--white);
    }
}
 
/************** Wrapper **************/
.wrapper{
    display: flex;
    padding: 50px;
    width: 100%;
    min-height: calc(100vh - 120px);
    flex-direction: column;
    align-items: center;
}

.wrapper-home {
    width: 100%;
    display: flex;
    height: max-content;
    #map {
        margin-left: 20px;
        img {
            display: none;
        }
    }
}

.wrapper-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 120px);
}

.wrapper-detail{
    min-height: 100vh;
    max-width: 1150px;
    width: 100%;
    .grid-wrap{
        .single-img {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-radius: 12px;
            img {
                width: 100%;
                height: -webkit-fill-available;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
    .img-advert-detail {
        height: 100%;
        max-height: 600px;
        max-width: 1150px;
        width: 100%;
        display: grid;
        gap: 5px;
        grid-auto-rows: max-content;
        grid-template-columns: minmax(300px, 1fr) 300px;
        overflow: hidden;
        border-radius: 12px;
        figure {
            height: 100%;
        }
        img {
            width: 100%;
            height: -webkit-fill-available;
            object-fit: cover;
        }
        .img {
            overflow: hidden;
        }
        .l-img {
            height: 600px;
            position: relative;
        }
        .sm-img {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 5px;
            height: 100%;
        }
        .ltl-img {
            height: 50%;
            position: relative;
        }
    }
}

/************** Content **************/
#grid {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.clickable-card-parent {
    position: relative;
    max-width: 350px;
}

.clickable-card {
    text-decoration: none;
    color: var(--black);
}

.advert-card {
    overflow: hidden;
    background: ghostwhite;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    box-shadow: var(--boxshadow) 0 5px 10px;
    transition: all .2s ease-in-out;
    &:hover {
        box-shadow: var(--boxshadow) 0 10px 20px;
    }
    figure {
        height: 65%;
        overflow: hidden;
    }
}

.advert-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px 20px 20px;
    width: 100%;
}

.advert-card h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    color: var(--darkgray);
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.price-card {
    font-weight: 700;
    font-size: larger;
    color: var(--black);
}

.modif-icons {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: var(--white);
    z-index: 3;
    line-height: 0;
}

.modif {
    color: var(--black);
    display: flex;
    align-items: center;
}

form {
    width: 500px;
    padding: 50px 20px;
    background-color: var(--darkgray);
    border-radius: 10px;
    box-shadow: var(--boxshadow) 0 0 40px;
    color: ghostwhite;
    .input {
        height: 36px;
        border-radius: 10px;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 15px;
        box-shadow: var(--boxshadow) 0 0 40px;
    }
    .textarea-description {
        width: 100%;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 20px;
        margin-bottom: 15px;
    }
    .sub-btn{
        width: 100px;
        height: 42px;
        border-radius: 10px;
        border: none;
        font-size: medium;
        font-weight: 500;
        font-family: poppins, sans-serif;
        color: var(--dark-purple);
        margin-top: 20px;
    }
    #registration_form_agreeTerms {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }
    .dbl-input {
        display: flex;
        gap: 10px;
    }
}


/************** Footer *************/
// footer {
    
    // }
    
    
/************** Responsive Design *************/

@media only screen and (max-width: 770px) {

    /************ Wrapper *************/
    .wrapper-detail {
        .img-advert-detail {
            grid-template-columns: 1fr;
            grid-template-areas:
                "l-img"
                "sm-img";
            grid-gap: 0;
            max-height: max-content;
            .l-img {
                height: auto;
            }
            .sm-img {
                grid-area: sm-img;
                display: flex;
                flex-direction: row;
                gap: 5px;
                img {
                    max-width: 50%;
                    height: auto;

                }
            }
        }
    }
}


@media only screen and (max-width: 450px) {

    /************** Body **************/
    body {
        padding: 25px;
    }
    
    /************** Header **************/
    header {
        padding: 0;
        height: max-content;
        .logo {
            a {
                .fig-logo {
                    .icon-logo {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
        .title {
            display: none;
        }
        .log{
            #profil-picture {
                width: 55px;
                height: 55px;
            }
        }
    }

    /************** wrapper **************/
    .wrapper {
        padding: 25px 0;
    }
}

