{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
    <div class="wrapper-form">
        {{ form_start(formAddAdvert) }}
        {{ form_end(formAddAdvert) }}   
    </div>
{% endblock %}